.fab:hover{
  animation-name: hoverPop;
  animation-duration: .4s;
}
  
@keyframes hoverPop{
  0%, 100%{
    transform: scale(1.5);
  
  }
  33%{
    transform: scale(1.05);

  }
  66%{
    transform: scale(.90);
  }
}